DATABASE_NAME=visiox_db
DATABASE_USER=mac
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

VECTOR_DATABASE_NAME=visiox_vector_db
VECTOR_DATABASE_USER=mac
VECTOR_DATABASE_PASSWORD=
VECTOR_DATABASE_HOST=localhost
VECTOR_DATABASE_PORT=5432